/*
This is my style css
*/

body
{
	background-color: silver;
}

p
{
	font-family: "Time New Roman", Times, serif;
}

a:link
{
	color: blue;
	text-decoration: none;
}
a:visited
{
	color: red;
	text-decoration: none;
}
a:hover
{
	color: orange;
	text-decoration: underline;
}
a:active
{
	color: blue;
	text-decoration: underline;
}

th, td
{
background color: silver;
text-align: center;
}