/*
This is my style css
*/

body
{
	background-color: lightgrey;
}

p
{
	font-family: "Times New Roman", Times, serif;
}

a:link
{
	color: blue;
	text-decoration: none;
}
a:visited
{
	color: orange;
	text-decoration: none;
}
a:hover
{
	color: orange;
	text-decoration: underline;
}
a:active
{
	color: blue;
	text-decoration: underline;
}

table
{
	width: 100%;
}
th
{
	background-color: lightgrey;
	color: black;
	text-align: center;
	height: 50px;
}
td
{
	padding: 15px;
	background-color: lightgrey;
	color: black;
	text-align: center;
}

.menu
{
	float: left;
	top: 30px;
}