/*
This is my style css
*/

h1
{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

p
{
	font-family: "Times New Roman", Times, serif;
}

#container {
  width: 1000px;
  height: 460px;
  left: 0px;
  position: relative;
  align: center;
}

#animate {
  width: 100px;
  height: 50px;
  top: 580px;
  left: 0px;
  position: absolute;
}

#animate2 {
  width: 100px;
  height: 50px;
  top: 490px;
  left: 0px;
  position: absolute;
}

#light {
	position: relative;
	width: 100px;
	height: 100px;
	display: block;
	align: center;
}

#light2 {
	position: relative;
	width: 100px;
	height: 100px;
	display: none;
	align: center;
}