/*
This is my style css
*/

.header
{
	background-color: white;
}

body
{
	background-color: lightgrey;
	text-align: center;
}

footer
{
	text-align: left;
}

p
{
	font-family: "Times New Roman", Times, serif;
}